.transition-image {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-property: background-color;
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.fade {
    background-color: rgb(0, 0, 0);
}
